PORT=5000
MONGODB_URI=mongodb+srv://king:Abhijit2@cluster0.lfsenw0.mongodb.net/break_time_tracker?retryWrites=true&w=majority
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
NODE_ENV=development
